{% extends 'temp/index.html.twig' %}

{% block content %}
    <div id="content2">
        {% if photoresistor.getPhotoresistor() >= 500 %} {# Поправить стили #}
            <div id="lamb7"><img src="{{ asset('images/day.png') }}" width="140px"></div>
        {% else %}
            <div id="lamb2"><img src="{{ asset('images/Night.png') }}" width="140px"></div>
        {% endif %}

        {% if lamp1.getLamp1() == 1 %}
            <div id="lamb4"><img width="130px" src="{{ asset('images/lamp1.png') }}"></div>
            <div id="lamb6"><a href="{{ path('lamp/power1') }}"><img width="130px" src="{{ asset('images/power1.png') }}"></a></div>
        {% else %}
            <div id="lamb4"><img width="130px" src="{{ asset('images/lamp2.png') }}"></div>
            <div id="lamb6"><a href="{{ path('lamp/power1') }}"><img width="130px" src="{{ asset('images/power2.png') }}"></a></div>
        {% endif %}

        {% if lamp1.getLamp2() == 1 %}
            <div id="lamb22"><img width="130px" src="{{ asset('images/lamp1.png') }}"></div>
            <div id="lamb32"><a href="{{ path('lamp/power2') }}"><img width="130px" src="{{ asset('images/power1.png') }}"></a></div>
        {% else %}
            <div id="lamb22"><img width="130px" src="{{ asset('images/lamp2.png') }}"></div>
            <div id="lamb32"><a href="{{ path('lamp/power2') }}"><img width="130px" src="{{ asset('images/power2.png') }}"></a></div>
        {% endif %}

        <div id="home">
            <div id="star1">
                <img width="200" src="{{ asset('images/Star1.png') }}">
            </div>
            <div id="star2">
                <img width="140" src="{{ asset('images/Star23.png') }}">
            </div>
            <div id="home2">
                <a href="{{ path('adminka') }}"><img src="{{ asset('images/home.png') }}"></a>
            </div>
        </div>
    </div>
{% endblock %}